{{template "header"}}
<p>ユーザー</p>
<p>{{.UserName}}</p>
<p>プロフィール</p>
<p>{{.ProfileText}}</p>
<form action="change_profile">
    <input type="text" name="user_profile" />
    <input type="submit" value="プロフィールを編集する。" />
</form>
{{template "footer"}}
