{{template "header"}}
    <head>
        <link rel = "stylesheet" href = "./resources/top_after.css" >
    </head>
    <div class = "body-main">
        <div class ="container-sub">
        {{with ""}}
            <p>名前が取得されません。</p>
        {{else}}
            <p>{{.Userid}}さんこんにちは</p>
        {{end}}
        {{template "serch"}}
        </div>
        <div class = "container-main">
        {{template "threads" .Threads}}
        </div>
    </div>
</body>
</html>
{{template "footer"}}