{{define "header"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <header class="page_header">
      <div class="header_content">
        <a href="top.html">ログアウトする</a>
        <a href="my_page.html">マイページ</a>
        <a href="create_project">ページを作成する</a>
      </div>
    </header>
  </head>
{{end}}
