{{define "header"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <header class="page_header">
      <div class="header_content">
        <a href="/logout">ログアウトする</a>
        <a href="/mypage">マイページ</a>
        <a href="/create_project">ページを作成する</a>
      </div>
    </header>
    <title>Umibata</title>
{{end}}