{{template "header"}}
    <link rel = "stylesheet" href = "../resources/top_after.css" />
<body>
    {{template "serch"}}
    {{with ""}}
        <p>名前が取得されません。</p>
    {{else}}
        <p>{{.Userid}}さんこんにちは</p>
    {{end}}
        <h1>スレッド一覧</h1>
    {{template "threads" .Threads}}
</body>
</html>
{{template "footer"}}